body{
    background: url('http://www.madecenter.com.br/wp-content/uploads/2016/02/img-de-fundo.jpg') 0 0 repeat;
}

#container{
    margin: 0 auto;
    width: 940px;
}

#container-logo-info {
    width: 80%;
    height: 20%;
    margin: 0 auto;
}

#container-logo-info img{
    width: 100%;
}

#info{
    padding: 10px;
    text-align: center;
    border-radius: 25px 25px 2px 2px;
    margin: 0 5px;
    background-color: rgba(255, 204, 41, 0.7);
}

#info h1{
    font-family: 'Times New Roman', Times, serif;
}

.container_FotoInfo{
    border: 1px solid #999999;
    /* background-color: darkolivegreen; */
    background-color: rgba(255,255,255, 0.8);
    margin: 5px 220px;
    border-radius: 10px;
}

#container-pic{
    padding: 30px 125px;
    height: 220px;
}

#container-pic img{
    height: 100%;
    border-radius: 180px;
    /* border: 4px solid white; */
    border: 10px inset #5d738b;
    box-shadow: 0px 0px 20px 20px #888888;
    -webkit-box-shadow: 0px 0px 20px 20px #888888;
    -ms-box-shadow: 0px 0px 20px 20px #888888;
}

#container-info{
    text-align: center;
    font-size: 10pt;
}

footer{
    background-color: rgba(255, 228, 196, 0.8);
}

footer .copyRight{
    font-family: 'Myriad Pro' , arial, sans-serif;
    color: #868e96;
}

footer .imagem{
    width: 150px;
    margin: 5px;
}

button.verde {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 25px;
}
 
button.verde:hover {
    background-color: green;
    color: white;
}