body{
    background-color: black;
    /* background: url('https://i.imgur.com/esRpfpm.jpg') 0 0 repeat; */
    background-size: 100%;
    position: relative;
}

body:before{
    transform: rotate(90deg);
    -webkit-transform: rotate(30deg);
}

#container{
    margin: 0 auto;
    width: 940px;
}

#container-logo-info {
    width: 80%;
    height: 20%;
    margin: 0 auto;
}

#container-logo-info img{
    width: 100%;
}

#info{
    padding: 10px;
    text-align: center;
    border-radius: 25px 25px 2px 2px;
    margin: 5px;
    /* background-color: rgba(255, 204, 41, 0.7); */
    background-color: rgb(174, 51, 63);
    color: white;
}

#info h1{
    font-family: 'Times New Roman', Times, serif;
}

#container-pic{
    padding: 30px 300px;
    height: 320px;
}

#container-pic img{
    height: 100%;
    border-radius: 180px;
    border: 4px solid white;
    box-shadow: 0px 0px 20px 20px #888888;
    -webkit-box-shadow: 0px 0px 20px 20px #888888;
    -ms-box-shadow: 0px 0px 20px 20px #888888;
}

#container-info{
    text-align: center;
    color: white;
    font-size: 16pt;
}

button {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 25px;
}
 
button:hover {
    background-color: green;
    color: white;
}